In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pathlib

In [2]:
csvpath = "SVOD_Data.csv"
df = pd.read_csv("SVOD_Data.csv")

C:\Users\totor\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,YEAR,DATE,SOURCE_DEMO,PROGRAM_NAME,SEASON,EPISODE,NO_OF_VIEWERS,NETWORK,ACN_PROGRAM_CODE,TELECAST_NUMBER,PROGRAM_TYPE
0,2019,2019-09-23,HH,10,\N,NaN,1,NETFLIX,100004428,72801998,\N
1,2019,2019-09-23,M 18 - 34,10,\N,NaN,1,NETFLIX,100004428,72801998,\N
2,2019,2019-09-23,M 18 - 49,10,\N,NaN,1,NETFLIX,100004428,72801998,\N
3,2019,2019-09-23,M 18 - 54,10,\N,NaN,1,NETFLIX,100004428,72801998,\N
4,2019,2019-09-23,M 25 - 34,10,\N,NaN,1,NETFLIX,100004428,72801998,\N
...,...,...,...,...,...,...,...,...,...,...,...
65823527,2020,2020-02-23,P 55_Plus,ZUMBOS JUST DESSERTS,S02,MAKE SOME MAGIC!,1,NETFLIX,435508,473176988,Instructions
65823528,2020,2020-02-23,P 55_Plus,ZUMBOS JUST DESSERTS,S02,SECRET GARDEN,2,NETFLIX,435508,478625124,Instructions
65823529,2020,2020-02-23,P 65_Plus,ZUMBOS JUST DESSERTS,S01,EPISODE 2,1,NETFLIX,435508,21822466,Instructions
65823530,2020,2020-02-23,P 65_Plus,ZUMBOS JUST DESSERTS,S02,MAKE SOME MAGIC!,1,NETFLIX,435508,473176988,Instructions
65823531,2020,2020-02-23,P 65_Plus,ZUMBOS JUST DESSERTS,S01,EPISODE 1,1,NETFLIX,435508,21822474,Instructions

In [4]:
df_Program = df.groupby(by=["PROGRAM_NAME"]).mean()

In [5]:
VIEWERSHIP = pd.pivot_table(df, index = 'PROGRAM_NAME',
                           values = 'NO_OF_VIEWERS',
                           aggfunc = np.sum).reset_index()
MINYEAR = pd.pivot_table(df, index = 'PROGRAM_NAME',
                        values = 'YEAR',
                        aggfunc = np.min).reset_index()

TEMP = VIEWERSHIP.merge(MINYEAR, on = 'PROGRAM_NAME')

In [6]:
TEMP

                                  PROGRAM_NAME  NO_OF_VIEWERS  YEAR
0                                          100         202289  2019
1                                           10           3895  2019
2     10 BLDINGS CHANGED AMERIC                            13  2019
3     10 HOMES CHANGED AMERICA                             94  2019
4     10 MONUMENTS CHANGED AMER                            15  2019
...                                        ...            ...   ...
4357  ZOMBIE DUMB                                       10816  2019
4358  ZOMBIELAND                                        47447  2019
4359  ZOO                                              126948  2019
4360  ZOOTOPIA                                           6328  2019
4361  ZUMBOS JUST DESSERTS                             182769  2019

[4362 rows x 3 columns]

In [7]:
df_recent = TEMP.loc[TEMP['YEAR'] >= 2020].sort_values("NO_OF_VIEWERS", ascending = False)
df_recent

                                  PROGRAM_NAME  NO_OF_VIEWERS  YEAR
2289  KLLR NSDE MND OF A HRNNDZ                        338443  2020
1254  DRACULA                                          279416  2020
2485  LOCKE & KEY                                      279147  2020
3755                                  STRANGER         232460  2020
883                                     CIRCLE         219399  2020
...                                        ...            ...   ...
961   CONVOY                                                1  2020
2426  LETTERS FROM BAGHDAD                                  1  2020
2234  KARDASHIAN: THE MAN WHO                               1  2020
1398  EXPNDNG UNI ASHLEY GARCIA                             1  2020
830                               CHICAGO CODE              1  2020

[214 rows x 3 columns]

In [8]:
most_popular = df_recent.head(10)
most_popular

                                  PROGRAM_NAME  NO_OF_VIEWERS  YEAR
2289  KLLR NSDE MND OF A HRNNDZ                        338443  2020
1254  DRACULA                                          279416  2020
2485  LOCKE & KEY                                      279147  2020
3755                                  STRANGER         232460  2020
883                                     CIRCLE         219399  2020
2982  OCTOBER FACTION                                  215713  2020
146   AJ & THE QUEEN                                   185165  2020
811   CHEER                                            132513  2020
1422                           FALL FROM GRACE         103819  2020
2911  NIGHT ON EARTH                                    91051  2020

In [9]:
middle_popular=df_recent.iloc[[103,104,105,106,107,108,109,110,111,112],:]
medium_popular = middle_popular.head(10)
medium_popular

                                  PROGRAM_NAME  NO_OF_VIEWERS  YEAR
3374  ROBOT TRAINS                                        893  2020
4115  VERA                                                865  2020
1695  GRACE UNPLUGGED                                     807  2020
3957  TOXIC SKIES                                         800  2020
559   BLADE RUNNER TH FINAL CUT                           775  2020
3762  STRIKE BACK                                         736  2020
2410  LEO THE WILDLIFE RANGER                             723  2020
2086  IRAQS SECRET SEX TRADE                              719  2020
2705  MINIFORCE NEW HEROES RISE                           690  2020
1820  HELLIER                                             645  2020

In [10]:
not_popular = df_recent.sort_values(by = "NO_OF_VIEWERS", ascending = True)
least_popular = not_popular.head(10)
least_popular

                                  PROGRAM_NAME  NO_OF_VIEWERS  YEAR
830                               CHICAGO CODE              1  2020
3171  POLLYANNA                                             1  2020
3198  PRECIOUS PUPPIES                                      1  2020
1398  EXPNDNG UNI ASHLEY GARCIA                             1  2020
2426  LETTERS FROM BAGHDAD                                  1  2020
961   CONVOY                                                1  2020
2234  KARDASHIAN: THE MAN WHO                               1  2020
4111  VEL PHILLIPS: DREAM                                   2  2020
3395  ROSTERED ON                                           2  2020
1635  GIRL MUSCLES TURNING BONE                             5  2020

In [11]:
CONCORDANCE_POPULAR = [
["KLLR NSDE MND OF A HRNNDZ", "#KillerInside"],
["DRACULA", "#DraculaNetflix"],
["LOCKE & KEY", "#AskLockeAndKey"],
["STRANGER", "#TheStranger"],
["CIRCLE", "#TheCircle"],
["OCTOBER FACTION", "#OctoberFaction"],
["AJ & THE QUEEN", "#ajandthequeen"],
["CHEER", "#CHEERNETFLIX"],
["FALL FROM GRACE", "#afallfromgrace"],
["NIGHT ON EARTH", "#nightonearth"]
]
CONCORDANCE_POPULAR = pd.DataFrame(CONCORDANCE_POPULAR, columns = ["PROGRAM_NAME", "TwitterTag"])
CONCORDANCE_POPULAR

                PROGRAM_NAME       TwitterTag
0  KLLR NSDE MND OF A HRNNDZ    #KillerInside
1                    DRACULA  #DraculaNetflix
2                LOCKE & KEY  #AskLockeAndKey
3                   STRANGER     #TheStranger
4                     CIRCLE       #TheCircle
5            OCTOBER FACTION  #OctoberFaction
6             AJ & THE QUEEN   #ajandthequeen
7                      CHEER    #CHEERNETFLIX
8            FALL FROM GRACE  #afallfromgrace
9             NIGHT ON EARTH    #nightonearth

In [12]:
CONCORDANCE_MIDDLE = [
["ROBOT TRAINS", "#RobotTrains"],
["VERA", "@VeraSeries"],
["GRACE UNPLUGGED", "#GRACEUNPLUGGED"],
["TOXIC SKIES", "#ToxicSkies"],
["BLADE RUNNER TH FINAL CUT", "#BladeRunner"],
["STRIKE BACK", "#StrikeBack"],
["LEO THE WILDLIFE RANGER", "LEO THE WILDLIFE RANGER"],
["IRAQS SECRET SEX TRADE", "#iraqssextrade"],
["MINIFORCE NEW HEROES RISE", "#miniforce"],
["Hellier", "#Hellier"]
]
CONCORDANCE_MIDDLE = pd.DataFrame(CONCORDANCE_MIDDLE, columns = ["PROGRAM_NAME", "TwitterTag"])
CONCORDANCE_MIDDLE

                PROGRAM_NAME               TwitterTag
0               ROBOT TRAINS             #RobotTrains
1                       VERA              @VeraSeries
2            GRACE UNPLUGGED          #GRACEUNPLUGGED
3                TOXIC SKIES              #ToxicSkies
4  BLADE RUNNER TH FINAL CUT             #BladeRunner
5                STRIKE BACK              #StrikeBack
6    LEO THE WILDLIFE RANGER  LEO THE WILDLIFE RANGER
7     IRAQS SECRET SEX TRADE           #iraqssextrade
8  MINIFORCE NEW HEROES RISE               #miniforce
9                    Hellier                 #Hellier

In [13]:
CONCORDANCE_UNPOPULAR = [
["CHICAGO CODE", "#ChicagoCode"],
["POLLYANNA", "#Pollyanna"],
["PRECIOUS PUPPIES", "#PreciousPuppies"],
["EXPNDNG UNI ASHLEY GARCIA", "#TheExpandingUniverseOfAshleyGarcia"],
["LETTERS FROM BAGHDAD", "#LettersFromBaghdad"],
["CONVOY", "#Convoy"],
["KARDASHIAN: THE MAN WHO", "#KARDASHIAN: THE MAN WHO SAVED OJ SIMPSON"],
["VEL PHILLIPS: DREAM", "#VelPhillips"],
["ROSTERED ON", "#RosteredOn"],
["GIRL MUSCLES TURNING BONE	", "#WordPress #ExtraordinaryChildren"]
]
CONCORDANCE_UNPOPULAR = pd.DataFrame(CONCORDANCE_UNPOPULAR, columns = ["PROGRAM_NAME", "TwitterTag"])
CONCORDANCE_UNPOPULAR

                  PROGRAM_NAME                                 TwitterTag
0                 CHICAGO CODE                               #ChicagoCode
1                    POLLYANNA                                 #Pollyanna
2             PRECIOUS PUPPIES                           #PreciousPuppies
3    EXPNDNG UNI ASHLEY GARCIA        #TheExpandingUniverseOfAshleyGarcia
4         LETTERS FROM BAGHDAD                        #LettersFromBaghdad
5                       CONVOY                                    #Convoy
6      KARDASHIAN: THE MAN WHO  #KARDASHIAN: THE MAN WHO SAVED OJ SIMPSON
7          VEL PHILLIPS: DREAM                               #VelPhillips
8                  ROSTERED ON                                #RosteredOn
9  GIRL MUSCLES TURNING BONE\t          #WordPress #ExtraordinaryChildren

In [16]:
from twitter_scraper import get_tweets
from googletrans import Translator
from langdetect import detect
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import time
from tqdm.notebook import tqdm
analyzer = SentimentIntensityAnalyzer()

In [18]:
shows = CONCORDANCE_POPULAR["TwitterTag"].values.tolist()

RESULTS = []

for TwitterTag in tqdm(shows, desc = "Scraping Individual Tags"):
    
    tweets = get_tweets(TwitterTag, pages=2)
    
    for tweet in tweets:
        
        ID = tweet['tweetId']
        ReTweet = tweet['isRetweet']
        
        Year = tweet['time'].year
        Month = tweet['time'].month
        Day = tweet['time'].day
        
        text =tweet['text']
        replies = tweet['replies']
        retweets = tweet['retweets']
        likes = tweet['likes']
        
        TEMP = [ID, ReTweet, Year, Month, Day, text, replies, retweets, likes, TwitterTag]
        
        RESULTS.append(TEMP)
        
    time.sleep(1)

Names = ["ID", "ReTweet", "Y", "M", "D", "Text", "Replies", "RT", "Likes", "TwitterTag"]

RESULTS = pd.DataFrame(RESULTS, columns = Names)

Sentiments = []

for line in tqdm(RESULTS['Text'].values.tolist(), desc = 'Sentiment Analysis'):
    Sentiments.append(analyzer.polarity_scores(line)['compound'])
RESULTS['Sentiment'] = Sentiments

Languages = []

for line in tqdm(RESULTS['Text'].values.tolist(), desc = 'Identify Language'):
    Languages.append(detect(line))
    time.sleep(.5)
RESULTS['Lang'] = Languages

TransSentiments = []
translator = Translator()
for line in tqdm(RESULTS['Text'].values.tolist(), desc = "Sentiment of Translated"):
    translation = translator.translate(line, dest = 'en').text
    TransSentiments.append(analyzer.polarity_scores(translation)['compound'])
    time.sleep (.5)
RESULTS['TransSentiment'] = TransSentiments

HBox(children=(IntProgress(value=0, description='Scraping Individual Tags', max=10, style=ProgressStyle(descri…

HBox(children=(IntProgress(value=0, description='Sentiment Analysis', max=400, style=ProgressStyle(description…

HBox(children=(IntProgress(value=0, description='Identify Language', max=400, style=ProgressStyle(description_…

LangDetectException: No features in text.